.footer {
    background-color: #eff6ef;
    text-align: center;
    padding-top: 32px;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 256px;
    height: 128px;
}
.footer-icon > a {
    height: 32px;
    width: 32px;
    display: inline-block;
    margin: 0 16px;
    text-decoration: none;
}
.copyright > p {
    margin: 0;
    padding: 16px;
}
